@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root {
  --primary-color: #6cdfcc;
  --primary-dark: #2dd1b6;
  --primary-light: #abede2;
  --secondary-color: #393e46;
  --success-color: #2ecc71;
  --error-color: #e74c3c;
  --orange: #fab05e;
  --teal: #6cdfcc;
  --purple: #a383d2;  
  --green: #8fcfa0;
  --yellow: #fec24a;
  --red: #e35151;
  --blue: #b0e1e5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}